In [71]:
import pandas as pd

train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)

test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)

#print head of test and train
print(train.head())
print(test.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [72]:
train_describe = train.describe()
train_shape = train.shape

print(train_describe)
print(train_shape)

test_describe = test.describe()
test_shape = test.shape

print(test_describe)
print(test_shape)

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
(891, 12)
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200
(418, 11)

In [73]:
# The number of people who survived (1) vs who died (0)
print(train["Survived"].value_counts())
# as a proportion
print(train["Survived"].value_counts(normalize = True))

# The number of men who survived vs who died
print(train["Survived"][train["Sex"] == 'male'].value_counts())
# The number of women who survived vs who died
print(train["Survived"][train["Sex"] == 'female'].value_counts())

# Proportion of men who died
print(train["Survived"][train["Sex"] == 'male'].value_counts(normalize = True))
# Propoertion of Women who died
print(train["Survived"][train["Sex"] == 'female'].value_counts(normalize = True))

0    549
1    342
Name: Survived, dtype: int64
0    0.616162
1    0.383838
Name: Survived, dtype: float64
0    468
1    109
Name: Survived, dtype: int64
1    233
0     81
Name: Survived, dtype: int64
0    0.811092
1    0.188908
Name: Survived, dtype: float64
1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [74]:
# Creating Child column
train["Child"] = float('NaN')

# Assigning 1 to passengers under 18, 0 to 18+.
train["Child"][train["Age"] < 18] = 1
train["Child"][train["Age"] >= 18] = 0

print(train["Child"])

#Print proportion of Survival Rates < 18
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

#Print proportion of Survival Rates 18+
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      NaN
6      0.0
7      1.0
8      0.0
9      1.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     0.0
16     1.0
17     NaN
18     0.0
19     NaN
20     0.0
21     0.0
22     1.0
23     0.0
24     1.0
25     0.0
26     NaN
27     0.0
28     NaN
29     NaN
      ...
861    0.0
862    0.0
863    NaN
864    0.0
865    0.0
866    0.0
867    0.0
868    NaN
869    1.0
870    0.0
871    0.0
872    0.0
873    0.0
874    0.0
875    1.0
876    0.0
877    0.0
878    NaN
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    NaN
889    0.0
890    0.0
Name: Child, Length: 891, dtype: float64
1    0.539823
0    0.460177
Name: Survived, dtype: float64
0    0.618968
1    0.381032
Name: Survived, dtype: float64

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [75]:
# Create a test copy
test_one = test

# Survived = 0
test_one["Survived"] = 0

# Set women in Surviveed to 1
test_one["Survived"][test_one["Sex"] == 'female'] = 1

print(test_one["Survived"])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      1
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

---

In [76]:
# DECISION TREE
import numpy as np
from sklearn import tree

In [77]:
# Turning male (0) and female (1) groups into integer form
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1

#Impute Embarked variable
train["Embarked"] = train["Embarked"].fillna("S")

#Convert Embarked class to integer
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

print(train["Sex"])
print(train["Embarked"])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: object
0      0
1      1
2      0
3      0
4      0
5      2
6      0
7      0
8      0
9      1
10     0
11     0
12     0
13     0
14     0
15     0
16     2
17     0
18     0
19     1
20     0
21     0
22     2
23     0
24     0
25     0
26     1
27     0
28     2
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    1
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    0
881    0
882    0
883    0
884    0
885    2
886    0
887    0
888    0
889    1
890    2
Name: Embarked, Length: 891, dtype: object

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [78]:
print(train)

#Change NA in Age to median
train["Age"] = train["Age"].fillna(train["Age"].median())

print(train["Age"].median())

#Create the target and features numpy arrays
target = train["Survived"].values
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values

#Create decision tree
titanic_one = tree.DecisionTreeClassifier()
titanic_one = titanic_one.fit(features_one, target)

#Importance and score
print(titanic_one.feature_importances_)
print(titanic_one.score(features_one, target))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
5                                     Moran, Mr. James   0   NaN      0
6                              McCarthy, Mr. Timothy J   0  54.0      0
7                       Palsson, Master. Gosta Leonard   0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)   1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut   1   4.0      1
11                            Bonnell, Miss. Elizabeth   1  58.0      0
12                      Saundercock, Mr. William Henry   0  20.0      0
13                         Andersson, Mr. Anders Johan   0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina   1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)    1  55.0      0
16                                Rice, Master. Eugene   0   2.0      4
17                        Williams, Mr. Charles Eugene   0   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   1  31.0      1
19                             Masselmani, Mrs. Fatima   1   NaN      0
20                                Fynney, Mr. Joseph J   0  35.0      0
21                               Beesley, Mr. Lawrence   0  34.0      0
22                         McGowan, Miss. Anna "Annie"   1  15.0      0
23                        Sloper, Mr. William Thompson   0  28.0      0
24                       Palsson, Miss. Torborg Danira   1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   1  38.0      1
26                             Emir, Mr. Farred Chehab   0   NaN      0
27                      Fortune, Mr. Charles Alexander   0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"   1   NaN      0
29                                 Todoroff, Mr. Lalio   0   NaN      0
..                                                 ...  ..   ...    ...
861                        Giles, Mr. Frederick Edward   0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"   1   NaN      8
864                             Gill, Mr. John William   0  24.0      0
865                           Bystrom, Mrs. (Karolina)   1  42.0      0
866                       Duran y More, Miss. Asuncion   1  27.0      1
867               Roebling, Mr. Washington Augustus II   0  31.0      0
868                        van Melkebeke, Mr. Philemon   0   NaN      0
869                    Johnson, Master. Harold Theodor   0   4.0      1
870                                  Balkic, Mr. Cerin   0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1  47.0      1
872                           Carlsson, Mr. Frans Olof   0  33.0      0
873                        Vander Cruyssen, Mr. Victor   0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)   1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"   1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian   0  20.0      0
877                               Petroff, Mr. Nedelio   0  19.0      0
878                                 Laleff, Mr. Kristo   0   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)   1  25.0      0
881                                 Markun, Mr. Johann   0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika   1  22.0      0
883                      Banfield, Mr. Frederick James   0  28.0      0
884                             Sutehall, Mr. Henry Jr   0  25.0      0
885               Rice, Mrs. William (Margaret Norton)   1  39.0      0
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   NaN      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket      Fare        Cabin Embarked  Child
0        0         A/5 21171    7.2500          NaN        0    0.0
1        0          PC 17599   71.2833          C85        1    0.0
2        0  STON/O2. 3101282    7.9250          NaN        0    0.0
3        0            113803   53.1000         C123        0    0.0
4        0            373450    8.0500          NaN        0    0.0
5        0            330877    8.4583          NaN        2    NaN
6        0             17463   51.8625          E46        0    0.0
7        1            349909   21.0750          NaN        0    1.0
8        2            347742   11.1333          NaN        0    0.0
9        0            237736   30.0708          NaN        1    1.0
10       1           PP 9549   16.7000           G6        0    1.0
11       0            113783   26.5500         C103        0    0.0
12       0         A/5. 2151    8.0500          NaN        0    0.0
13       5            347082   31.2750          NaN        0    0.0
14       0            350406    7.8542          NaN        0    1.0
15       0            248706   16.0000          NaN        0    0.0
16       1            382652   29.1250          NaN        2    1.0
17       0            244373   13.0000          NaN        0    NaN
18       0            345763   18.0000          NaN        0    0.0
19       0              2649    7.2250          NaN        1    NaN
20       0            239865   26.0000          NaN        0    0.0
21       0            248698   13.0000          D56        0    0.0
22       0            330923    8.0292          NaN        2    1.0
23       0            113788   35.5000           A6        0    0.0
24       1            349909   21.0750          NaN        0    1.0
25       5            347077   31.3875          NaN        0    0.0
26       0              2631    7.2250          NaN        1    NaN
27       2             19950  263.0000  C23 C25 C27        0    0.0
28       0            330959    7.8792          NaN        2    NaN
29       0            349216    7.8958          NaN        0    NaN
..     ...               ...       ...          ...      ...    ...
861      0             28134   11.5000          NaN        0    0.0
862      0             17466   25.9292          D17        0    0.0
863      2          CA. 2343   69.5500          NaN        0    NaN
864      0            233866   13.0000          NaN        0    0.0
865      0            236852   13.0000          NaN        0    0.0
866      0     SC/PARIS 2149   13.8583          NaN        1    0.0
867      0          PC 17590   50.4958          A24        0    0.0
868      0            345777    9.5000          NaN        0    NaN
869      1            347742   11.1333          NaN        0    1.0
870      0            349248    7.8958          NaN        0    0.0
871      1             11751   52.5542          D35        0    0.0
872      0               695    5.0000  B51 B53 B55        0    0.0
873      0            345765    9.0000          NaN        0    0.0
874      0         P/PP 3381   24.0000          NaN        1    0.0
875      0              2667    7.2250          NaN        1    1.0
876      0              7534    9.8458          NaN        0    0.0
877      0            349212    7.8958          NaN        0    0.0
878      0            349217    7.8958          NaN        0    NaN
879      1             11767   83.1583          C50        1    0.0
880      1            230433   26.0000          NaN        0    0.0
881      0            349257    7.8958          NaN        0    0.0
882      0              7552   10.5167          NaN        0    0.0
883      0  C.A./SOTON 34068   10.5000          NaN        0    0.0
884      0   SOTON/OQ 392076    7.0500          NaN        0    0.0
885      5            382652   29.1250          NaN        2    0.0
886      0            211536   13.0000          NaN        0    0.0
887      0            112053   30.0000          B42        0    0.0
888      2        W./C. 6607   23.4500          NaN        0    NaN
889      0            111369   30.0000         C148        1    0.0
890      0            370376    7.7500          NaN        2    0.0

[891 rows x 13 columns]
28.0
[ 0.12482906  0.31274009  0.23582285  0.326608  ]
0.977553310887

In [79]:
print(train)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
5                                     Moran, Mr. James   0  28.0      0
6                              McCarthy, Mr. Timothy J   0  54.0      0
7                       Palsson, Master. Gosta Leonard   0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)   1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut   1   4.0      1
11                            Bonnell, Miss. Elizabeth   1  58.0      0
12                      Saundercock, Mr. William Henry   0  20.0      0
13                         Andersson, Mr. Anders Johan   0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina   1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)    1  55.0      0
16                                Rice, Master. Eugene   0   2.0      4
17                        Williams, Mr. Charles Eugene   0  28.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   1  31.0      1
19                             Masselmani, Mrs. Fatima   1  28.0      0
20                                Fynney, Mr. Joseph J   0  35.0      0
21                               Beesley, Mr. Lawrence   0  34.0      0
22                         McGowan, Miss. Anna "Annie"   1  15.0      0
23                        Sloper, Mr. William Thompson   0  28.0      0
24                       Palsson, Miss. Torborg Danira   1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   1  38.0      1
26                             Emir, Mr. Farred Chehab   0  28.0      0
27                      Fortune, Mr. Charles Alexander   0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"   1  28.0      0
29                                 Todoroff, Mr. Lalio   0  28.0      0
..                                                 ...  ..   ...    ...
861                        Giles, Mr. Frederick Edward   0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"   1  28.0      8
864                             Gill, Mr. John William   0  24.0      0
865                           Bystrom, Mrs. (Karolina)   1  42.0      0
866                       Duran y More, Miss. Asuncion   1  27.0      1
867               Roebling, Mr. Washington Augustus II   0  31.0      0
868                        van Melkebeke, Mr. Philemon   0  28.0      0
869                    Johnson, Master. Harold Theodor   0   4.0      1
870                                  Balkic, Mr. Cerin   0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1  47.0      1
872                           Carlsson, Mr. Frans Olof   0  33.0      0
873                        Vander Cruyssen, Mr. Victor   0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)   1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"   1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian   0  20.0      0
877                               Petroff, Mr. Nedelio   0  19.0      0
878                                 Laleff, Mr. Kristo   0  28.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)   1  25.0      0
881                                 Markun, Mr. Johann   0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika   1  22.0      0
883                      Banfield, Mr. Frederick James   0  28.0      0
884                             Sutehall, Mr. Henry Jr   0  25.0      0
885               Rice, Mrs. William (Margaret Norton)   1  39.0      0
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1  28.0      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket      Fare        Cabin Embarked  Child
0        0         A/5 21171    7.2500          NaN        0    0.0
1        0          PC 17599   71.2833          C85        1    0.0
2        0  STON/O2. 3101282    7.9250          NaN        0    0.0
3        0            113803   53.1000         C123        0    0.0
4        0            373450    8.0500          NaN        0    0.0
5        0            330877    8.4583          NaN        2    NaN
6        0             17463   51.8625          E46        0    0.0
7        1            349909   21.0750          NaN        0    1.0
8        2            347742   11.1333          NaN        0    0.0
9        0            237736   30.0708          NaN        1    1.0
10       1           PP 9549   16.7000           G6        0    1.0
11       0            113783   26.5500         C103        0    0.0
12       0         A/5. 2151    8.0500          NaN        0    0.0
13       5            347082   31.2750          NaN        0    0.0
14       0            350406    7.8542          NaN        0    1.0
15       0            248706   16.0000          NaN        0    0.0
16       1            382652   29.1250          NaN        2    1.0
17       0            244373   13.0000          NaN        0    NaN
18       0            345763   18.0000          NaN        0    0.0
19       0              2649    7.2250          NaN        1    NaN
20       0            239865   26.0000          NaN        0    0.0
21       0            248698   13.0000          D56        0    0.0
22       0            330923    8.0292          NaN        2    1.0
23       0            113788   35.5000           A6        0    0.0
24       1            349909   21.0750          NaN        0    1.0
25       5            347077   31.3875          NaN        0    0.0
26       0              2631    7.2250          NaN        1    NaN
27       2             19950  263.0000  C23 C25 C27        0    0.0
28       0            330959    7.8792          NaN        2    NaN
29       0            349216    7.8958          NaN        0    NaN
..     ...               ...       ...          ...      ...    ...
861      0             28134   11.5000          NaN        0    0.0
862      0             17466   25.9292          D17        0    0.0
863      2          CA. 2343   69.5500          NaN        0    NaN
864      0            233866   13.0000          NaN        0    0.0
865      0            236852   13.0000          NaN        0    0.0
866      0     SC/PARIS 2149   13.8583          NaN        1    0.0
867      0          PC 17590   50.4958          A24        0    0.0
868      0            345777    9.5000          NaN        0    NaN
869      1            347742   11.1333          NaN        0    1.0
870      0            349248    7.8958          NaN        0    0.0
871      1             11751   52.5542          D35        0    0.0
872      0               695    5.0000  B51 B53 B55        0    0.0
873      0            345765    9.0000          NaN        0    0.0
874      0         P/PP 3381   24.0000          NaN        1    0.0
875      0              2667    7.2250          NaN        1    1.0
876      0              7534    9.8458          NaN        0    0.0
877      0            349212    7.8958          NaN        0    0.0
878      0            349217    7.8958          NaN        0    NaN
879      1             11767   83.1583          C50        1    0.0
880      1            230433   26.0000          NaN        0    0.0
881      0            349257    7.8958          NaN        0    0.0
882      0              7552   10.5167          NaN        0    0.0
883      0  C.A./SOTON 34068   10.5000          NaN        0    0.0
884      0   SOTON/OQ 392076    7.0500          NaN        0    0.0
885      5            382652   29.1250          NaN        2    0.0
886      0            211536   13.0000          NaN        0    0.0
887      0            112053   30.0000          B42        0    0.0
888      2        W./C. 6607   23.4500          NaN        0    NaN
889      0            111369   30.0000         C148        1    0.0
890      0            370376    7.7500          NaN        2    0.0

[891 rows x 13 columns]

In [80]:
#CLEANING TEST
#Change NA in Age to median
test["Age"] = test["Age"].fillna(test["Age"].median())

print(test_one)
# Turning male (0) and female (1) groups into integer form
test_one["Sex"][test_one["Sex"] == "male"] = 0
test_one["Sex"][test_one["Sex"] == "female"] = 1

test.Fare[152] = test.Fare.median()

#extract features from the test set
test_features = test[["Pclass", "Sex", "Age", "Fare"]].values

#Make predictions using the test set
prediction = titanic_one.predict(test_features)
print(prediction)

# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId =np.array(test["PassengerId"]).astype(int)
titanic_solution = pd.DataFrame(prediction, PassengerId, columns = ["Survived"])
print(titanic_solution)

# Check that your data frame has 418 entries
print(titanic_solution.shape)

# Write your solution to a csv file with the name my_solution.csv
titanic_solution.to_csv("titanic_solution_one.csv", index_label = ["PassengerId"])

     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male  27.0      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female  27.0      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male  27.0      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female  27.0      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female  27.0      0      0              365237    7.7500
411  female  37.0      1      0               19928   90.0000
412  female  28.0      0      0              347086    7.7750
413    male  27.0      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male  27.0      0      0              359309    8.0500
417    male  27.0      1      1                2668   22.3583

               Cabin Embarked  Survived
0                NaN        Q         0
1                NaN        S         1
2                NaN        Q         0
3                NaN        S         0
4                NaN        S         1
5                NaN        S         0
6                NaN        Q         1
7                NaN        S         0
8                NaN        C         1
9                NaN        S         0
10               NaN        S         0
11               NaN        S         0
12               B45        S         1
13               NaN        S         0
14               E31        S         1
15               NaN        C         1
16               NaN        Q         0
17               NaN        C         0
18               NaN        S         1
19               NaN        C         1
20               NaN        C         0
21               NaN        S         0
22               NaN        S         1
23               NaN        C         0
24   B57 B59 B63 B66        C         1
25               NaN        S         0
26               B36        C         1
27               NaN        C         0
28               A21        S         0
29               NaN        C         0
..               ...      ...       ...
388              NaN        Q         0
389              NaN        S         0
390              B24        S         0
391              D28        S         1
392              NaN        S         0
393              NaN        S         0
394              NaN        S         0
395              C31        S         1
396              NaN        Q         0
397              B41        C         1
398              NaN        S         0
399              NaN        Q         0
400               C7        S         1
401              NaN        S         0
402              NaN        C         1
403              NaN        S         0
404              D40        C         0
405              D38        C         0
406              NaN        S         0
407              C80        C         0
408              NaN        Q         1
409              NaN        S         1
410              NaN        Q         1
411              C78        Q         1
412              NaN        S         1
413              NaN        S         0
414             C105        C         1
415              NaN        S         0
416              NaN        S         0
417              NaN        C         0

[418 rows x 12 columns]
[0 0 1 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 1 0 1 1 1 0 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 1 1 1 0 1 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0
 1 0 1 0 0 1 0 0 1 1 0 1 1 1 1 1 0 1 1 0 0 0 0 1 0 1 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 0 1 0
 1 1 1 0 0 1 0 0 0 1 0 0 1 0 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1
 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 1 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 0 0 1 0 0 0]
      Survived
892          0
893          0
894          1
895          1
896          1
897          0
898          0
899          0
900          1
901          0
902          0
903          0
904          1
905          1
906          1
907          1
908          0
909          1
910          1
911          0
912          0
913          1
914          1
915          0
916          1
917          0
918          1
919          1
920          1
921          0
...        ...
1280         0
1281         0
1282         0
1283         1
1284         1
1285         0
1286         0
1287         1
1288         0
1289         1
1290         0
1291         0
1292         1
1293         0
1294         1
1295         1
1296         0
1297         0
1298         0
1299         0
1300         1
1301         1
1302         1
1303         1
1304         0
1305         0
1306         1
1307         0
1308         0
1309         0

[418 rows x 1 columns]
(418, 1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [81]:
#Creating new array with SibSp, Parch, and Embarked features
features_two = train[["Pclass", "Age", "Sex", "SibSp", "Parch", "Embarked"]].values

#Setting max_depth (10) and min_sample_split (5) to control overfitting
max_depth = 10
min_samples_split = 5
titanic_two = tree.DecisionTreeClassifier(max_depth = max_depth,
min_samples_split = min_samples_split, random_state = 1)

titanic_two = titanic_two.fit(features_two, target)

print(titanic_two.score(features_two, target))

0.8911335578

In [82]:
#Create train_two with new feature "family size"
train_two = train.copy()
train_two["family_size"] = train_two["SibSp"] + train_two["Parch"] + 1
test_two = test.copy()
test_two["family_size"] = test["SibSp"] + test["Parch"] + 1

#create the new feature set and add new feature
features_three = train_two[["Pclass", "Sex", "Age", "Fare", "SibSp", "Parch", "family_size"]].values
test_three_features = test_two[["Pclass", "Sex", "Age", "Fare", "SibSp", "Parch", "family_size"]].values

#Define the tree classifier, then fit the model
titanic_three = tree.DecisionTreeClassifier()
titanic_three = titanic_three.fit(features_three, target)

#Print score of Decision tree
print(titanic_three.score(features_three, target))

0.979797979798

In [83]:
#Make predictions using the test set
prediction_three = titanic_three.predict(test_three_features)
print(prediction_three)

# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId = np.array(test_two["PassengerId"]).astype(int)
titanic_solution_three = pd.DataFrame(prediction_three, PassengerId, columns = ["Survived"])
print(titanic_solution_three)

# Check that your data frame has 418 entries
print(titanic_solution_three.shape)
#create the solution array and create .csv file
titanic_solution_three.to_csv("titanic_solution_three.csv", index_label = ["PassengerId"])

[0 0 1 1 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0 1 0 1 1 1
 0 0 1 0 1 0 1 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 0 0 0 0
 1 0 0 1 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0 0 0 0 1 1 1 0 1 0 1 0 1 0 0 1 1 0 0
 1 1 1 1 1 1 1 0 1 1 1 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 0
 1 0 1 0 0 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 1 0 1 1 0 1 0 1 1 0 1 1 0 1 1 1 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 1 1 0 1 1 0 1 0 1 0 1 0
 1 1 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 1 1 1 1 0 0 0 1 0 1 1 1 0 0 0 0 1 1 0 0
 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 1 0 1 1 1 0 1 0 1 0 0 0
 1 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1
 0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 1 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 1]
      Survived
892          0
893          0
894          1
895          1
896          0
897          0
898          0
899          0
900          1
901          0
902          0
903          0
904          1
905          1
906          1
907          1
908          0
909          1
910          1
911          0
912          0
913          1
914          1
915          0
916          1
917          0
918          1
919          1
920          1
921          1
...        ...
1280         0
1281         0
1282         0
1283         1
1284         1
1285         0
1286         1
1287         1
1288         0
1289         1
1290         0
1291         0
1292         1
1293         0
1294         1
1295         1
1296         0
1297         0
1298         0
1299         0
1300         1
1301         1
1302         1
1303         1
1304         1
1305         0
1306         1
1307         0
1308         0
1309         1

[418 rows x 1 columns]
(418, 1)

---

In [92]:
###### RandomForestClassifier ###
from sklearn.ensemble import RandomForestClassifier

# Take forest features wanted
features_forest = train[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values

#building and fitting my_forrest
forest = RandomForestClassifier(max_depth = 10, min_samples_split = 2, n_estimators = 100, random_state = 1)
my_forest = forest.fit(features_forest,target)

print(my_forest.score(features_forest,target))

#compute predictions on test set features then print the length of the prediction vector
test_features = test[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values
pred_forest = my_forest.predict(test_features)
print(len(pred_forest))

0.939393939394
418

In [95]:
#comparing my decision tree with random forest
print(titanic_three.feature_importances_)
print(my_forest.feature_importances_)

print(titanic_three.score(features_three, target))
print(my_forest.score(features_forest, target))

[ 0.10931463  0.31088095  0.24082365  0.23712818  0.03440236  0.01717156
  0.05027868]
[ 0.10384741  0.20139027  0.31989322  0.24602858  0.05272693  0.04159232
  0.03452128]
0.979797979798
0.939393939394

In [99]:
# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId = np.array(test["PassengerId"]).astype(int)
titanic_solution_forest = pd.DataFrame(pred_forest, PassengerId, columns = ["Survived"])
print(titanic_solution_forest)

# Check that your data frame has 418 entries
print(titanic_solution_forest)

#create the solution array and create .csv file
titanic_solution_forest.to_csv("titanic_solution_forest.csv", index_label = ["PassengerId"])

      Survived
892          0
893          0
894          0
895          0
896          0
897          0
898          0
899          0
900          1
901          0
902          0
903          0
904          1
905          0
906          1
907          1
908          0
909          0
910          0
911          0
912          1
913          0
914          1
915          1
916          1
917          0
918          1
919          0
920          0
921          0
...        ...
1280         0
1281         0
1282         0
1283         1
1284         0
1285         0
1286         0
1287         1
1288         0
1289         1
1290         0
1291         0
1292         1
1293         0
1294         1
1295         0
1296         0
1297         0
1298         0
1299         0
1300         1
1301         1
1302         1
1303         1
1304         0
1305         0
1306         1
1307         0
1308         0
1309         1

[418 rows x 1 columns]
      Survived
892          0
893          0
894          0
895          0
896          0
897          0
898          0
899          0
900          1
901          0
902          0
903          0
904          1
905          0
906          1
907          1
908          0
909          0
910          0
911          0
912          1
913          0
914          1
915          1
916          1
917          0
918          1
919          0
920          0
921          0
...        ...
1280         0
1281         0
1282         0
1283         1
1284         0
1285         0
1286         0
1287         1
1288         0
1289         1
1290         0
1291         0
1292         1
1293         0
1294         1
1295         0
1296         0
1297         0
1298         0
1299         0
1300         1
1301         1
1302         1
1303         1
1304         0
1305         0
1306         1
1307         0
1308         0
1309         1

[418 rows x 1 columns]

[[3 34.5 0 ..., 0 0 'Q']
 [3 47.0 1 ..., 1 0 'S']
 [2 62.0 0 ..., 0 0 'Q']
 ...,
 [3 38.5 0 ..., 0 0 'S']
 [3 27.0 0 ..., 0 0 'S']
 [3 27.0 0 ..., 1 1 'C']]